@use 'reset';



body {
    background: #000;
    background: linear-gradient(165deg, rgba(0, 0, 0, 1) 39%, rgba(19, 19, 214, 1) 73%);

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;


    header {

        nav {
            align-items: baseline;
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
            background-color: #110C20CC;
            width: 100%;
            height: 58px;

            h1 {
                padding-left: 40px;
                color: white;
                font-size: 30px;
                font-weight: 800;
            }

            div {
                background: #000;
                background: linear-gradient(165deg, rgba(0, 0, 0, 1) 39%, rgba(19, 19, 214, 1) 73%);
                display: flex;
                gap: 50px;
                padding-right: 40px;

                a {
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                }

                a:hover {
                    color: blueviolet;
                    font-size: 25px;
                }
            }
        }
    }
     .h1 {
        font-size: 50px;
        color: white;
       margin-top: 50px;
       margin-left: 50px;
        
     }
    main {
              display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 49px;
    margin-bottom: 120px;



        p {
            color: white;
            
            font-size: 20px;
        }
    }






    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 250px;
        background: #000;
        background: linear-gradient(165deg, rgba(0, 0, 0, 1) 39%, rgba(19, 19, 214, 1) 73%);
        padding-left: 50px;
        

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                color: white;
                font-size: 25px;
                font-weight: 400;
            }

            a {
                color: white;
                font-size: 25px;
            }
        }

        img {
            width: 240px;
            padding-right: 50px;
        }
    }
}