@use 'reset';

body{

    background-color: black;
    background: linear-gradient(165deg, rgb(0, 0, 0) 39%, rgb(19, 19, 214) 73%);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
nav {
            align-items: baseline;
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
            background-color: #110C20CC;
            width: 100%;
            height: 58px;

            h1 {
                padding-left: 40px;
                color: white;
                font-size: 30px;
                font-weight: 800;
            }

            div {
                background: #000;
                background: linear-gradient(165deg, rgba(0, 0, 0, 1) 39%, rgba(19, 19, 214, 1) 73%);
                display: flex;
                gap: 50px;
                padding-right: 40px;

                a {
                    color: white !important;  
                    font-size: 20px !important;
                    font-weight: 500 !important;
                }

                a:hover  {
                    color: blueviolet !important;
                    font-size: 25px !important;
                }
            }
        }
             H1 {
                color: white;
                font-size: 40px;
                padding-left: 50px;
                margin-bottom: 25px;
             }
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 25px;
            a {
                border: 3px solid #5e2ac6;
                width: 450px;
                height: 50px;
                color: white;
                text-align: center;
                border-radius: 25px;
                font-size: 25px;
                padding-top: 10px;
                transition: 2s;
            }
            a:hover {
               background-color: midnightblue;
            }
        }
    }